<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972812589224-81fv014ha0lqssj83neh42dpnto3mas3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972812589224-81fv014ha0lqssj83neh42dpnto3mas3</string>
	<key>API_KEY</key>
	<string>AIzaSyCRXJZ9bXXNalJt2hmOpFVFYLBfcOC5-XY</string>
	<key>GCM_SENDER_ID</key>
	<string>972812589224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>novsu.Check</string>
	<key>PROJECT_ID</key>
	<string>baseofpasses</string>
	<key>STORAGE_BUCKET</key>
	<string>baseofpasses.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972812589224:ios:e04aa5cff00e04d11d8a9d</string>
	<key>DATABASE_URL</key>
	<string>https://baseofpasses-default-rtdb.firebaseio.com</string>
</dict>
</plist>